[flake8]
max-line-length = 120
ignore = E501,W503,W504,E203,E231,E265,E266,W293,W292,E302,E305,E402,F401,F841
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    .env,
    migrations,
    __init__.py,
    tests